GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=
CCC_ALLOWED_EMAILS=luca@example.com,chip@example.com
NEXT_PUBLIC_BASE_URL=http://localhost:8347
CCC_PROJECT_DIRS=/home/lucadev/ideaplaces-meta,/home/lucadev/mentorly-meta
